#walrus-showing {
  display: none;
}

#walrus-hidden {
  display: block;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.btn-success {
  background-color: #003300;
}

#click-box {
  border-width: medium;
  border-color: black;
  border-style: dashed;
  background: yellow;
}
